USE [master]
GO
/****** Object:  Database [Charity]    Script Date: 31-Jul-17 1:14:15 AM ******/
CREATE DATABASE [Charity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Charity', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TESTDBI\MSSQL\DATA\Charity.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Charity_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TESTDBI\MSSQL\DATA\Charity_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Charity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Charity]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 31-Jul-17 1:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[URL] [nvarchar](256) NOT NULL,
	[DisplayOrder] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 31-Jul-17 1:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorName] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 31-Jul-17 1:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Entry] [nvarchar](256) NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK__News__3214EC27C0FC7FD8] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pages]    Script Date: 31-Jul-17 1:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[DisplayOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Photos]    Script Date: 31-Jul-17 1:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VisitorCounter]    Script Date: 31-Jul-17 1:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorCounter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Counter] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([ID], [Name], [URL], [DisplayOrder], [Status]) VALUES (1, N'Home', N'/home', 1, 1)
INSERT [dbo].[Menus] ([ID], [Name], [URL], [DisplayOrder], [Status]) VALUES (2, N'About Our School', N'/about', 3, 1)
INSERT [dbo].[Menus] ([ID], [Name], [URL], [DisplayOrder], [Status]) VALUES (3, N'Photo Album', N'/photo', 4, 1)
SET IDENTITY_INSERT [dbo].[Menus] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([ID], [VisitorName], [Email], [Content], [CreatedDate]) VALUES (1, N'123213', N'licod1234@gmail.com', N'1232131', CAST(N'2017-07-28 02:56:02.557' AS DateTime))
INSERT [dbo].[Messages] ([ID], [VisitorName], [Email], [Content], [CreatedDate]) VALUES (2, N'123213', N'licod1234@gmail.com', N'1232131', CAST(N'2017-07-28 02:56:19.667' AS DateTime))
INSERT [dbo].[Messages] ([ID], [VisitorName], [Email], [Content], [CreatedDate]) VALUES (3, N'123213', N'licod1234@gmail.com', N'1232131', CAST(N'2017-07-28 02:56:31.767' AS DateTime))
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[Pages] ON 

SET IDENTITY_INSERT [dbo].[Pages] OFF
SET IDENTITY_INSERT [dbo].[Photos] ON 

INSERT [dbo].[Photos] ([ID], [Image], [CreatedDate], [Status]) VALUES (1, N'/resources/Photo Album_files/i285415639381953177._szw360h1280_.jpg', CAST(N'2015-05-20 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Photos] ([ID], [Image], [CreatedDate], [Status]) VALUES (2, N'/resources/Photo Album_files/i285415639381953174._szw360h1280_.jpg', CAST(N'2015-05-21 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Photos] ([ID], [Image], [CreatedDate], [Status]) VALUES (3, N'/resources/Photo Album_files/i285415639381953172._szw360h1280_.jpg', CAST(N'2015-05-22 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Photos] OFF
SET IDENTITY_INSERT [dbo].[VisitorCounter] ON 

INSERT [dbo].[VisitorCounter] ([ID], [Counter]) VALUES (1, 535)
SET IDENTITY_INSERT [dbo].[VisitorCounter] OFF
USE [master]
GO
